project/flows.json
[
    {
        "id": "e9201577.141cd8",
        "type": "tab",
        "label": "Client",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5667d58e.654b1c",
        "type": "tab",
        "label": "Server",
        "disabled": false,
        "info": ""
    },
    {
        "id": "71c27c0.096e784",
        "type": "template",
        "z": "5667d58e.654b1c",
        "name": "Methods",
        "field": "methods",
        "fieldType": "msg",
        "format": "yaml",
        "syntax": "mustache",
        "template": "getRandomAnimal:\n  request:\n    title: getRandomAnimal\n    type: object\n      \nadd:\n  request:\n    title: add\n    type: object\n    properties:\n      number1:\n        type: number\n        minimum: 0\n      number2:\n        type: number\n        minimum: 0\n    required:\n      - number1\n      - number2\n      \ntrigger: &trigger\n  request:\n    title: trigger\n    type: object\n    oneOf:\n      - properties:\n          list:\n            type: array\n            minItems: 1\n            items:\n              type: string\n              pattern: 0222[A-F0-9]{32}AA01\n          mode:\n            type: string\n            enum:\n              - GO\n        required:\n          - mode\n          - list\n      # For punch, allow empty array\n      - properties:\n          list:\n            type: array\n            items:\n              type: string\n              pattern: 0222[A-F0-9]{32}AA01\n          mode:\n            type: string\n            enum:\n              - GOU\n        required:\n          - mode\n          - list",
        "output": "yaml",
        "x": 320,
        "y": 60,
        "wires": [
            [
                "22af03c.bce1c7c"
            ]
        ]
    },
    {
        "id": "d1904e41.da3ba8",
        "type": "inject",
        "z": "5667d58e.654b1c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "71c27c0.096e784"
            ]
        ]
    },
    {
        "id": "22af03c.bce1c7c",
        "type": "json-rpc-processor",
        "z": "5667d58e.654b1c",
        "name": "",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "ae84657d.3c3998"
            ],
            [
                "6fb1fccb.71414c"
            ]
        ]
    },
    {
        "id": "80176f12.7c148",
        "type": "template",
        "z": "5667d58e.654b1c",
        "name": "Methods",
        "field": "methods",
        "fieldType": "msg",
        "format": "yaml",
        "syntax": "mustache",
        "template": "getRandomAnimal:\n  request:\n    title: getRandomAnimal\n    type: object\n      \nadd:\n  request:\n    tile: add\n    type: objecte\n    properties:\n      number1:\n        type: cat\n        minimum: 0\n      number2:\n        type: dog\n        minimum: 0\n    required:\n      - number1\n      - number2",
        "output": "yaml",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "22af03c.bce1c7c"
            ]
        ]
    },
    {
        "id": "7f5245df.727f14",
        "type": "inject",
        "z": "5667d58e.654b1c",
        "name": "badMethods",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "80176f12.7c148"
            ]
        ]
    },
    {
        "id": "2ba5f652.4569b2",
        "type": "http in",
        "z": "5667d58e.654b1c",
        "name": "",
        "url": "/request",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "22af03c.bce1c7c"
            ]
        ]
    },
    {
        "id": "fb6d62ac.07b7b",
        "type": "http response",
        "z": "5667d58e.654b1c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1470,
        "y": 220,
        "wires": []
    },
    {
        "id": "c6539501.6f0f18",
        "type": "change",
        "z": "5667d58e.654b1c",
        "name": "getRandomAnimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$shuffle(['cat','dog','snake','ross'])[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 200,
        "wires": [
            [
                "7c086ca7.bc9484"
            ]
        ]
    },
    {
        "id": "ae84657d.3c3998",
        "type": "switch",
        "z": "5667d58e.654b1c",
        "name": "methods routing",
        "property": "rpcMethod",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "getRandomAnimal",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "add",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "c6539501.6f0f18"
            ],
            [
                "cd4d5834.a5ebe8"
            ]
        ]
    },
    {
        "id": "7c086ca7.bc9484",
        "type": "json-rpc-processor",
        "z": "5667d58e.654b1c",
        "name": "",
        "x": 1110,
        "y": 220,
        "wires": [
            [
                "b25343eb.51d258"
            ],
            [
                "b25343eb.51d258"
            ]
        ]
    },
    {
        "id": "b9c9b04.96e545",
        "type": "http response",
        "z": "5667d58e.654b1c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "cd4d5834.a5ebe8",
        "type": "function",
        "z": "5667d58e.654b1c",
        "name": "add",
        "func": "msg.payload = msg.payload.number1 + msg.payload.number2\nif (msg.payload > 10) {\n    node.error(`Add error, result can't be above 10`, msg)\n} else {\n    return msg\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "7c086ca7.bc9484"
            ]
        ]
    },
    {
        "id": "9fdb6235.6b4ba",
        "type": "catch",
        "z": "5667d58e.654b1c",
        "name": "",
        "scope": [
            "cd4d5834.a5ebe8"
        ],
        "uncaught": false,
        "x": 810,
        "y": 380,
        "wires": [
            [
                "7c086ca7.bc9484"
            ]
        ]
    },
    {
        "id": "bf3e34bd.6b6b1",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "f224f0f0.26b3e8"
            ]
        ]
    },
    {
        "id": "f224f0f0.26b3e8",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "getRandomAnimal",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"getRandomAnimal\",\t   \"params\": {},\t   \"id\": _msgid\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "59aa73d.e0cb90c",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "add",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"add\",\t   \"params\": {\t        \"number1\" : 2,\t        \"number2\" : 2\t   },\t   \"id\": _msgid\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "8b881527.4acbf8",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "env",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "59aa73d.e0cb90c"
            ]
        ]
    },
    {
        "id": "e5dcd6c8.32279",
        "type": "comment",
        "z": "e9201577.141cd8",
        "name": "Good",
        "info": "",
        "x": 110,
        "y": 80,
        "wires": []
    },
    {
        "id": "ed439f68.5a4388",
        "type": "comment",
        "z": "e9201577.141cd8",
        "name": "Bad parameters",
        "info": "",
        "x": 140,
        "y": 220,
        "wires": []
    },
    {
        "id": "59a4c512.7a3e94",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "add",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"add\",\t   \"params\": {\t        \"number1\" : 3,\t        \"number2\" : \"Hello\"\t   },\t   \"id\": _msgid\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "4ebe8c74.38534c",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "env",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "59a4c512.7a3e94"
            ]
        ]
    },
    {
        "id": "236eed2a.dbd272",
        "type": "comment",
        "z": "e9201577.141cd8",
        "name": "Bad JSON RPC",
        "info": "",
        "x": 140,
        "y": 320,
        "wires": []
    },
    {
        "id": "d4105e22.63ed5",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "add",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\": \"2.\",\t   \"method\": \"add\",\t   \"params\": {\t        \"number1\" : 3,\t        \"number2\" : \"Hello\"\t   },\t   \"id\": _msgid\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "d4e3bd20.c75f18",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "env",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "d4105e22.63ed5"
            ]
        ]
    },
    {
        "id": "a12e6bbf.b80688",
        "type": "comment",
        "z": "e9201577.141cd8",
        "name": "Bad JSON",
        "info": "",
        "x": 120,
        "y": 420,
        "wires": []
    },
    {
        "id": "3c682e4c.79163a",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "add",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cs",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "aaafda3e.5dd0d8",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "env",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "3c682e4c.79163a"
            ]
        ]
    },
    {
        "id": "4f827af7.1633d4",
        "type": "comment",
        "z": "e9201577.141cd8",
        "name": "Unknown method",
        "info": "",
        "x": 150,
        "y": 520,
        "wires": []
    },
    {
        "id": "62f09be3.0c5e34",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "mult",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"mult\",\t   \"params\": {\t        \"number1\" : 3,\t        \"number2\" : \"Hello\"\t   },\t   \"id\": _msgid\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 560,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "d73422b.e179c6",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "env",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "62f09be3.0c5e34"
            ]
        ]
    },
    {
        "id": "e50800a9.542a38",
        "type": "http request",
        "z": "e9201577.141cd8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 710,
        "y": 120,
        "wires": [
            [
                "ce088891.e20ac8",
                "806e34b7.cf33c8",
                "10e43122.eca78f"
            ]
        ]
    },
    {
        "id": "ce088891.e20ac8",
        "type": "debug",
        "z": "e9201577.141cd8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "3f1ee765.7d9dd8",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "add",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"add\",\t   \"params\": {\t        \"number1\" : 3,\t        \"number2\" : 9\t   },\t   \"id\": _msgid\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 660,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "99ff7bf8.6be6f8",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "env",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 660,
        "wires": [
            [
                "3f1ee765.7d9dd8"
            ]
        ]
    },
    {
        "id": "1822c613.71a782",
        "type": "comment",
        "z": "e9201577.141cd8",
        "name": "add out of range",
        "info": "",
        "x": 140,
        "y": 620,
        "wires": []
    },
    {
        "id": "806e34b7.cf33c8",
        "type": "debug",
        "z": "e9201577.141cd8",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.result ? payload.result : payload.error.message",
        "targetType": "jsonata",
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "7fe7a200.0503a8",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://localhost:1880/request",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 120,
        "wires": [
            [
                "e50800a9.542a38"
            ]
        ]
    },
    {
        "id": "10e43122.eca78f",
        "type": "debug",
        "z": "e9201577.141cd8",
        "name": "delta",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "$millis() - timestamp",
        "targetType": "jsonata",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "b25343eb.51d258",
        "type": "switch",
        "z": "5667d58e.654b1c",
        "name": "",
        "property": "res",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1330,
        "y": 220,
        "wires": [
            [
                "fb6d62ac.07b7b"
            ]
        ]
    },
    {
        "id": "6fb1fccb.71414c",
        "type": "switch",
        "z": "5667d58e.654b1c",
        "name": "",
        "property": "res",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "b9c9b04.96e545"
            ]
        ]
    }
]