project/flows.json
[{"id":"5667d58e.654b1c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"964e7ab8.bedcf8","type":"subflow","name":"RPC Processing","info":"# RPC Processing\n\nThis subflow takes a `msg.methods` objects containing a list of method names (as the key) along with their schema as the value.  For example:\n\n```\n{\n    \"drinkBeer\": {\n        \"title\": \"drinkBeer\",\n        \"type\": \"object\",\n        \"properties\": {\n            \"bitterness\": {\n                \"type\": \"string\"\n            }\n        },\n        \"required\": [\n            \"bitterness\"\n        ]\n    },\n    \"drinkWine\": {\n        \"title\": \"drinkWine\",\n        \"type\": \"object\",\n        \"properties\": {\n            \"cépage\": {\n                \"type\": \"string\"\n            }\n        },\n        \"required\": [\n            \"cépage\"\n        ]\n    }\n}\n```\n\nIf the validation is successful, the subflow will send the `params` as `msg.payload` with the method name in `msg.rpcMethod` and the if as `msg.rpcId` through the first output.\n\nIf an error occurs it will be sent out the second output.\n\nAnother instance of the subflow can be added after the processing of the `params` which will then format an appropriate JSON-RPC result.","in":[{"x":60,"y":220,"wires":[{"id":"3c330bba.be4c0c"}]}],"out":[{"x":1920,"y":360,"wires":[{"id":"e3fbe92c.e90888","port":0}]},{"x":1580,"y":580,"wires":[{"id":"6fe6c9f1.b40da","port":0}]}],"outputLabels":["Valid","Error"]},{"id":"998697a4.07d218","type":"json-schema-validator","z":"964e7ab8.bedcf8","name":"JSON-RPC validation","func":"{\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"description\": \"A JSON RPC 2.0 request\",\n    \"oneOf\": [\n        {\n            \"description\": \"An individual request\",\n            \"$ref\": \"#/definitions/request\"\n        },\n        {\n            \"description\": \"An array of requests\",\n            \"type\": \"array\",\n            \"items\": { \"$ref\": \"#/definitions/request\" }\n        }\n    ],\n    \"definitions\": {\n        \"request\": {\n            \"type\": \"object\",\n            \"required\": [ \"jsonrpc\", \"method\" ],\n            \"properties\": {\n                \"jsonrpc\": { \"enum\": [ \"2.0\" ] },\n                \"method\": {\n                    \"type\": \"string\"\n                },\n                \"id\": {\n                    \"type\": [ \"string\", \"number\", \"null\" ],\n                    \"note\": [\n                        \"While allowed, null should be avoided: http://www.jsonrpc.org/specification#id1\",\n                        \"While allowed, a number with a fractional part should be avoided: http://www.jsonrpc.org/specification#id2\"\n                    ]\n                },\n                \"params\": {\n                    \"type\": [ \"array\", \"object\" ]\n                }\n            }\n        }\n    }\n}","x":900,"y":220,"wires":[["f7d726ca.aa8c6"]]},{"id":"cdea3d5d.17d058","type":"json","z":"964e7ab8.bedcf8","name":"rpcToJson","property":"payload","action":"obj","pretty":false,"x":690,"y":220,"wires":[["998697a4.07d218"]]},{"id":"61d36498.5d1aec","type":"catch","z":"964e7ab8.bedcf8","name":"","scope":["12753aa.e7e2fc5","cdea3d5d.17d058","74dbac90.1a97d4","998697a4.07d218"],"x":360,"y":580,"wires":[["f3be30f.0eb205"]]},{"id":"eb2817a.53af8e8","type":"switch","z":"964e7ab8.bedcf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"payload.method in $keys($flowContext('methods'))","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":220,"wires":[["1c86e76.1a55219"],["74dbac90.1a97d4"]]},{"id":"12753aa.e7e2fc5","type":"json-schema-validator","z":"964e7ab8.bedcf8","name":"method validation","func":"","x":1650,"y":200,"wires":[["e3fbe92c.e90888"]]},{"id":"2d3a5ccb.9cfdec","type":"change","z":"964e7ab8.bedcf8","name":"","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"500","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":580,"wires":[["6fe6c9f1.b40da"]]},{"id":"f7d726ca.aa8c6","type":"change","z":"964e7ab8.bedcf8","name":"store rpcId","rules":[{"t":"set","p":"rpcId","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":220,"wires":[["eb2817a.53af8e8"]]},{"id":"74dbac90.1a97d4","type":"function","z":"964e7ab8.bedcf8","name":"MethodNotFound Error","func":"msg._error = [`Method ${msg.payload.method} not found`];\nnode.error(\"Method not found\", msg);","outputs":0,"noerr":0,"x":1510,"y":280,"wires":[]},{"id":"f3be30f.0eb205","type":"switch","z":"964e7ab8.bedcf8","name":"","property":"error.source.name","propertyType":"msg","rules":[{"t":"cont","v":"method validation","vt":"str"},{"t":"eq","v":"rpcToJson","vt":"str"},{"t":"eq","v":"MethodNotFound Error","vt":"str"},{"t":"eq","v":"JSON-RPC validation","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":530,"y":580,"wires":[["7d4c97cb.97b7d"],["b7dbdd20.9a3d6"],["11a1cec.846e2b1"],["daf3f244.9c18a"],["efed0b20.90c228"]]},{"id":"efed0b20.90c228","type":"change","z":"964e7ab8.bedcf8","name":"format RPC Error","rules":[{"t":"set","p":"payload","pt":"msg","to":"{  \t   \"jsonrpc\": \"2.0\",\t   \"error\": {  \t      \"code\": rpcErrorCode ? rpcErrorCode: -32000,\t      \"message\": error.message,\t      \"data\": _error ? _error: error.source\t   },\t   \"id\": rpcId ? rpcId: payload.id\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":580,"wires":[["2d3a5ccb.9cfdec"]]},{"id":"33ee4ea8.b31222","type":"change","z":"964e7ab8.bedcf8","name":"","rules":[{"t":"set","p":"methods","pt":"flow","to":"methods","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":120,"wires":[[]]},{"id":"b739b1b9.c64ea8","type":"switch","z":"964e7ab8.bedcf8","name":"set methods","property":"methods","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":120,"wires":[["33ee4ea8.b31222"],["cc6aaedb.60076"]],"outputLabels":["set methods",""]},{"id":"cc6aaedb.60076","type":"switch","z":"964e7ab8.bedcf8","name":"Response ?","property":"rpcMethod","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":220,"wires":[["2038b73b.85071"],["cdea3d5d.17d058"]],"outputLabels":["format result",""]},{"id":"2038b73b.85071","type":"change","z":"964e7ab8.bedcf8","name":"format RPC Response","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"jsonrpc\": \"2.0\",\t   \"result\": payload,\t   \"id\": rpcId\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":360,"wires":[["e3fbe92c.e90888"]]},{"id":"a6c59ef6.000a18","type":"comment","z":"964e7ab8.bedcf8","name":"Error processing","info":"","x":380,"y":520,"wires":[]},{"id":"1c8e10a9.83db67","type":"comment","z":"964e7ab8.bedcf8","name":"Request processing","info":"","x":530,"y":180,"wires":[]},{"id":"c2af85e2.6f925","type":"comment","z":"964e7ab8.bedcf8","name":"Response processing","info":"","x":540,"y":320,"wires":[]},{"id":"7d4c97cb.97b7d","type":"change","z":"964e7ab8.bedcf8","name":"","rules":[{"t":"set","p":"rpcErrorCode","pt":"msg","to":"-32602","tot":"num"},{"t":"set","p":"error.message","pt":"msg","to":"Invalid params","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":540,"wires":[["efed0b20.90c228"]]},{"id":"11a1cec.846e2b1","type":"change","z":"964e7ab8.bedcf8","name":"","rules":[{"t":"set","p":"rpcErrorCode","pt":"msg","to":"-32601","tot":"num"},{"t":"set","p":"error.message","pt":"msg","to":"Method not found","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":620,"wires":[["efed0b20.90c228"]]},{"id":"b7dbdd20.9a3d6","type":"change","z":"964e7ab8.bedcf8","name":"","rules":[{"t":"set","p":"rpcErrorCode","pt":"msg","to":"-32700","tot":"num"},{"t":"set","p":"error.message","pt":"msg","to":"Parse error","tot":"str"},{"t":"set","p":"rpcId","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":580,"wires":[["efed0b20.90c228"]]},{"id":"daf3f244.9c18a","type":"change","z":"964e7ab8.bedcf8","name":"","rules":[{"t":"set","p":"rpcErrorCode","pt":"msg","to":"-32600","tot":"num"},{"t":"set","p":"error.message","pt":"msg","to":"Invalid Request","tot":"str"},{"t":"set","p":"rpcId","pt":"msg","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":660,"wires":[["efed0b20.90c228"]]},{"id":"ea278eb5.126ff8","type":"switch","z":"964e7ab8.bedcf8","name":"Error ?","property":"error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":220,"wires":[["f3be30f.0eb205"],["b739b1b9.c64ea8"]]},{"id":"ed82fc42.67f76","type":"comment","z":"964e7ab8.bedcf8","name":"populate methods and schemas","info":"","x":430,"y":80,"wires":[]},{"id":"3c330bba.be4c0c","type":"change","z":"964e7ab8.bedcf8","name":"","rules":[{"t":"delete","p":"schema","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":220,"wires":[["ea278eb5.126ff8"]]},{"id":"e3fbe92c.e90888","type":"change","z":"964e7ab8.bedcf8","name":"","rules":[{"t":"delete","p":"schema","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":360,"wires":[[]]},{"id":"6fe6c9f1.b40da","type":"change","z":"964e7ab8.bedcf8","name":"","rules":[{"t":"delete","p":"schema","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":580,"wires":[[]]},{"id":"1c86e76.1a55219","type":"function","z":"964e7ab8.bedcf8","name":"params","func":"const methods = flow.get('methods')\n\nmsg.rpcMethod = msg.payload.method\nmsg.schema = methods[msg.rpcMethod].request\n\nmsg.payload = msg.payload.params ? msg.payload.params : {}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1480,"y":200,"wires":[["12753aa.e7e2fc5"]]},{"id":"8b413aac.cbb1d8","type":"subflow:964e7ab8.bedcf8","z":"5667d58e.654b1c","name":"","env":[],"x":580,"y":60,"wires":[["ec29b6aa.6f127","fb6d62ac.07b7b","9bb33a3c.31feb8"],["fb6d62ac.07b7b","3a6bd41.7f9cd2c"]]},{"id":"71c27c0.096e784","type":"template","z":"5667d58e.654b1c","name":"Methods","field":"methods","fieldType":"msg","format":"yaml","syntax":"mustache","template":"getRandomAnimal:\n  request:\n    title: getRandomAnimal\n    type: object\n      \nadd:\n  request:\n    title: add\n    type: object\n    properties:\n      number1:\n        type: number\n        minimum: 0\n      number2:\n        type: number\n        minimum: 0\n    required:\n      - number1\n      - number2","output":"yaml","x":360,"y":60,"wires":[["830a7e08.07837"]]},{"id":"d1904e41.da3ba8","type":"inject","z":"5667d58e.654b1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["71c27c0.096e784"]]},{"id":"1c04e936.ec7dbf","type":"inject","z":"5667d58e.654b1c","name":"","topic":"","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["db543747.dde74"]]},{"id":"db543747.dde74","type":"change","z":"5667d58e.654b1c","name":"getRandomAnimal","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"getRandomAnimal\",\t   \"params\": {},\t   \"id\": _msgid\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":380,"wires":[["54955b94.df601c"]]},{"id":"c8f5e2df.e2c608","type":"change","z":"5667d58e.654b1c","name":"add","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"add\",\t   \"params\": {\t        \"number1\" : 3,\t        \"number2\" : 9\t   },\t   \"id\": _msgid\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":420,"wires":[["54955b94.df601c"]]},{"id":"3f326906.be9d66","type":"inject","z":"5667d58e.654b1c","name":"","topic":"","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["c8f5e2df.e2c608"]]},{"id":"de434504.9937d8","type":"comment","z":"5667d58e.654b1c","name":"Good","info":"","x":130,"y":340,"wires":[]},{"id":"2659053b.adc8d2","type":"comment","z":"5667d58e.654b1c","name":"Bad parameters","info":"","x":160,"y":480,"wires":[]},{"id":"178175f8.084f82","type":"change","z":"5667d58e.654b1c","name":"add","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"add\",\t   \"params\": {\t        \"number1\" : 3,\t        \"number2\" : \"Hello\"\t   },\t   \"id\": _msgid\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":520,"wires":[["54955b94.df601c"]]},{"id":"8afa4702.6a0e3","type":"inject","z":"5667d58e.654b1c","name":"","topic":"","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":520,"wires":[["178175f8.084f82"]]},{"id":"1c15d657.f4820a","type":"comment","z":"5667d58e.654b1c","name":"Bad JSON RPC","info":"","x":160,"y":580,"wires":[]},{"id":"c79b832a.99333","type":"change","z":"5667d58e.654b1c","name":"add","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"jsonrpc\": \"2.\",\t   \"method\": \"add\",\t   \"params\": {\t        \"number1\" : 3,\t        \"number2\" : \"Hello\"\t   },\t   \"id\": _msgid\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":620,"wires":[["54955b94.df601c"]]},{"id":"7ffd62f0.fe73c4","type":"inject","z":"5667d58e.654b1c","name":"","topic":"","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":620,"wires":[["c79b832a.99333"]]},{"id":"8575346.d5555c8","type":"comment","z":"5667d58e.654b1c","name":"Bad JSON","info":"","x":140,"y":680,"wires":[]},{"id":"fadca765.48862","type":"change","z":"5667d58e.654b1c","name":"add","rules":[{"t":"set","p":"payload","pt":"msg","to":"cs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":720,"wires":[["54955b94.df601c"]]},{"id":"351600b1.3a24c","type":"inject","z":"5667d58e.654b1c","name":"","topic":"","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":720,"wires":[["fadca765.48862"]]},{"id":"ec29b6aa.6f127","type":"switch","z":"5667d58e.654b1c","name":"","property":"rpcMethod","propertyType":"msg","rules":[{"t":"eq","v":"getRandomAnimal","vt":"str"},{"t":"eq","v":"add","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":140,"wires":[["10988320.7ec025"],[]]},{"id":"10988320.7ec025","type":"change","z":"5667d58e.654b1c","name":"getRandomAnimal","rules":[{"t":"set","p":"payload","pt":"msg","to":"$shuffle(['cat','dog','snake','ross'])[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":120,"wires":[["9cf37248.c83328"]]},{"id":"9cf37248.c83328","type":"subflow:964e7ab8.bedcf8","z":"5667d58e.654b1c","name":"","env":[],"x":1260,"y":120,"wires":[["ec49c58d.2520a"],["226e54e7.9f61ac"]]},{"id":"ec49c58d.2520a","type":"debug","z":"5667d58e.654b1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1430,"y":80,"wires":[]},{"id":"226e54e7.9f61ac","type":"debug","z":"5667d58e.654b1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1430,"y":140,"wires":[]},{"id":"22af03c.bce1c7c","type":"json-rpc-processor","z":"5667d58e.654b1c","name":"","x":610,"y":260,"wires":[["9bb33a3c.31feb8","fb6d62ac.07b7b"],["3a6bd41.7f9cd2c","fb6d62ac.07b7b"]]},{"id":"80176f12.7c148","type":"template","z":"5667d58e.654b1c","name":"Methods","field":"methods","fieldType":"msg","format":"yaml","syntax":"mustache","template":"getRandomAnimal:\n  request:\n    title: getRandomAnimal\n    type: object\n      \nadd:\n  request:\n    tile: add\n    type: objecte\n    properties:\n      number1:\n        type: cat\n        minimum: 0\n      number2:\n        type: dog\n        minimum: 0\n    required:\n      - number1\n      - number2","output":"yaml","x":360,"y":100,"wires":[["830a7e08.07837"]]},{"id":"7f5245df.727f14","type":"inject","z":"5667d58e.654b1c","name":"badMethods","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["80176f12.7c148"]]},{"id":"9bb33a3c.31feb8","type":"debug","z":"5667d58e.654b1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":240,"wires":[]},{"id":"830a7e08.07837","type":"switch","z":"5667d58e.654b1c","name":"","property":"mode","propertyType":"global","rules":[{"t":"eq","v":"subflow","vt":"str"},{"t":"eq","v":"node","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":180,"wires":[["8b413aac.cbb1d8"],["22af03c.bce1c7c"]]},{"id":"369c8f0a.ec3728","type":"inject","z":"5667d58e.654b1c","name":"","topic":"","payload":"subflow","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":880,"wires":[["c639807f.0fec8"]]},{"id":"140e5e5b.bd40b2","type":"inject","z":"5667d58e.654b1c","name":"","topic":"","payload":"node","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":920,"wires":[["c639807f.0fec8"]]},{"id":"c639807f.0fec8","type":"change","z":"5667d58e.654b1c","name":"","rules":[{"t":"set","p":"mode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":900,"wires":[[]]},{"id":"3a6bd41.7f9cd2c","type":"debug","z":"5667d58e.654b1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":280,"wires":[]},{"id":"3cdc3ed4.2d8dc2","type":"comment","z":"5667d58e.654b1c","name":"Unknown method","info":"","x":170,"y":780,"wires":[]},{"id":"6ce66335.0c9aac","type":"change","z":"5667d58e.654b1c","name":"mult","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"mult\",\t   \"params\": {\t        \"number1\" : 3,\t        \"number2\" : \"Hello\"\t   },\t   \"id\": _msgid\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":820,"wires":[["54955b94.df601c"]]},{"id":"ba5985b2.e920f8","type":"inject","z":"5667d58e.654b1c","name":"","topic":"","payload":"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":820,"wires":[["6ce66335.0c9aac"]]},{"id":"2ba5f652.4569b2","type":"http in","z":"5667d58e.654b1c","name":"","url":"/request","method":"post","upload":false,"swaggerDoc":"","x":360,"y":180,"wires":[["830a7e08.07837"]]},{"id":"fb6d62ac.07b7b","type":"http response","z":"5667d58e.654b1c","name":"","statusCode":"","headers":{},"x":890,"y":40,"wires":[]},{"id":"54955b94.df601c","type":"http request","z":"5667d58e.654b1c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:1880/request","tls":"","proxy":"","authType":"basic","x":480,"y":800,"wires":[["b9ed6f6.4f6e61"]]},{"id":"b9ed6f6.4f6e61","type":"debug","z":"5667d58e.654b1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":800,"wires":[]}]