project/flows.json
[
    {
        "id": "e9201577.141cd8",
        "type": "tab",
        "label": "Client",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5667d58e.654b1c",
        "type": "tab",
        "label": "Server",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3e4cdcff.50de8c",
        "type": "tab",
        "label": "Old implementation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "964e7ab8.bedcf8",
        "type": "subflow",
        "name": "RPC Processing",
        "info": "# RPC Processing\n\nThis subflow takes a `msg.methods` objects containing a list of method names (as the key) along with their schema as the value.  For example:\n\n```\n{\n    \"drinkBeer\": {\n        \"title\": \"drinkBeer\",\n        \"type\": \"object\",\n        \"properties\": {\n            \"bitterness\": {\n                \"type\": \"string\"\n            }\n        },\n        \"required\": [\n            \"bitterness\"\n        ]\n    },\n    \"drinkWine\": {\n        \"title\": \"drinkWine\",\n        \"type\": \"object\",\n        \"properties\": {\n            \"cépage\": {\n                \"type\": \"string\"\n            }\n        },\n        \"required\": [\n            \"cépage\"\n        ]\n    }\n}\n```\n\nIf the validation is successful, the subflow will send the `params` as `msg.payload` with the method name in `msg.rpcMethod` and the if as `msg.rpcId` through the first output.\n\nIf an error occurs it will be sent out the second output.\n\nAnother instance of the subflow can be added after the processing of the `params` which will then format an appropriate JSON-RPC result.",
        "in": [
            {
                "x": 60,
                "y": 220,
                "wires": [
                    {
                        "id": "3c330bba.be4c0c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1920,
                "y": 360,
                "wires": [
                    {
                        "id": "e3fbe92c.e90888",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1580,
                "y": 580,
                "wires": [
                    {
                        "id": "6fe6c9f1.b40da",
                        "port": 0
                    }
                ]
            }
        ],
        "outputLabels": [
            "Valid",
            "Error"
        ]
    },
    {
        "id": "998697a4.07d218",
        "type": "json-schema-validator",
        "z": "964e7ab8.bedcf8",
        "name": "JSON-RPC validation",
        "func": "{\n    \"$schema\": \"http://json-schema.org/draft-04/schema#\",\n    \"description\": \"A JSON RPC 2.0 request\",\n    \"oneOf\": [\n        {\n            \"description\": \"An individual request\",\n            \"$ref\": \"#/definitions/request\"\n        },\n        {\n            \"description\": \"An array of requests\",\n            \"type\": \"array\",\n            \"items\": { \"$ref\": \"#/definitions/request\" }\n        }\n    ],\n    \"definitions\": {\n        \"request\": {\n            \"type\": \"object\",\n            \"required\": [ \"jsonrpc\", \"method\" ],\n            \"properties\": {\n                \"jsonrpc\": { \"enum\": [ \"2.0\" ] },\n                \"method\": {\n                    \"type\": \"string\"\n                },\n                \"id\": {\n                    \"type\": [ \"string\", \"number\", \"null\" ],\n                    \"note\": [\n                        \"While allowed, null should be avoided: http://www.jsonrpc.org/specification#id1\",\n                        \"While allowed, a number with a fractional part should be avoided: http://www.jsonrpc.org/specification#id2\"\n                    ]\n                },\n                \"params\": {\n                    \"type\": [ \"array\", \"object\" ]\n                }\n            }\n        }\n    }\n}",
        "x": 900,
        "y": 220,
        "wires": [
            [
                "f7d726ca.aa8c6"
            ]
        ]
    },
    {
        "id": "cdea3d5d.17d058",
        "type": "json",
        "z": "964e7ab8.bedcf8",
        "name": "rpcToJson",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 690,
        "y": 220,
        "wires": [
            [
                "998697a4.07d218"
            ]
        ]
    },
    {
        "id": "61d36498.5d1aec",
        "type": "catch",
        "z": "964e7ab8.bedcf8",
        "name": "",
        "scope": [
            "12753aa.e7e2fc5",
            "cdea3d5d.17d058",
            "74dbac90.1a97d4",
            "998697a4.07d218"
        ],
        "x": 360,
        "y": 580,
        "wires": [
            [
                "f3be30f.0eb205"
            ]
        ]
    },
    {
        "id": "eb2817a.53af8e8",
        "type": "switch",
        "z": "964e7ab8.bedcf8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "payload.method in $keys($flowContext('methods'))",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1310,
        "y": 220,
        "wires": [
            [
                "1c86e76.1a55219"
            ],
            [
                "74dbac90.1a97d4"
            ]
        ]
    },
    {
        "id": "12753aa.e7e2fc5",
        "type": "json-schema-validator",
        "z": "964e7ab8.bedcf8",
        "name": "method validation",
        "func": "",
        "x": 1650,
        "y": 200,
        "wires": [
            [
                "e3fbe92c.e90888"
            ]
        ]
    },
    {
        "id": "2d3a5ccb.9cfdec",
        "type": "change",
        "z": "964e7ab8.bedcf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 580,
        "wires": [
            [
                "6fe6c9f1.b40da"
            ]
        ]
    },
    {
        "id": "f7d726ca.aa8c6",
        "type": "change",
        "z": "964e7ab8.bedcf8",
        "name": "store rpcId",
        "rules": [
            {
                "t": "set",
                "p": "rpcId",
                "pt": "msg",
                "to": "payload.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 220,
        "wires": [
            [
                "eb2817a.53af8e8"
            ]
        ]
    },
    {
        "id": "74dbac90.1a97d4",
        "type": "function",
        "z": "964e7ab8.bedcf8",
        "name": "MethodNotFound Error",
        "func": "msg._error = [`Method ${msg.payload.method} not found`];\nnode.error(\"Method not found\", msg);",
        "outputs": 0,
        "noerr": 0,
        "x": 1510,
        "y": 280,
        "wires": []
    },
    {
        "id": "f3be30f.0eb205",
        "type": "switch",
        "z": "964e7ab8.bedcf8",
        "name": "",
        "property": "error.source.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "method validation",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rpcToJson",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "MethodNotFound Error",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "JSON-RPC validation",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 530,
        "y": 580,
        "wires": [
            [
                "7d4c97cb.97b7d"
            ],
            [
                "b7dbdd20.9a3d6"
            ],
            [
                "11a1cec.846e2b1"
            ],
            [
                "daf3f244.9c18a"
            ],
            [
                "efed0b20.90c228"
            ]
        ]
    },
    {
        "id": "efed0b20.90c228",
        "type": "change",
        "z": "964e7ab8.bedcf8",
        "name": "format RPC Error",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{  \t   \"jsonrpc\": \"2.0\",\t   \"error\": {  \t      \"code\": rpcErrorCode ? rpcErrorCode: -32000,\t      \"message\": error.message,\t      \"data\": _error ? _error: error.source\t   },\t   \"id\": rpcId ? rpcId: payload.id\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 580,
        "wires": [
            [
                "2d3a5ccb.9cfdec"
            ]
        ]
    },
    {
        "id": "33ee4ea8.b31222",
        "type": "change",
        "z": "964e7ab8.bedcf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "methods",
                "pt": "flow",
                "to": "methods",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b739b1b9.c64ea8",
        "type": "switch",
        "z": "964e7ab8.bedcf8",
        "name": "set methods",
        "property": "methods",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "33ee4ea8.b31222"
            ],
            [
                "cc6aaedb.60076"
            ]
        ],
        "outputLabels": [
            "set methods",
            ""
        ]
    },
    {
        "id": "cc6aaedb.60076",
        "type": "switch",
        "z": "964e7ab8.bedcf8",
        "name": "Response ?",
        "property": "rpcMethod",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "2038b73b.85071"
            ],
            [
                "cdea3d5d.17d058"
            ]
        ],
        "outputLabels": [
            "format result",
            ""
        ]
    },
    {
        "id": "2038b73b.85071",
        "type": "change",
        "z": "964e7ab8.bedcf8",
        "name": "format RPC Response",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\": \"2.0\",\t   \"result\": payload,\t   \"id\": rpcId\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 360,
        "wires": [
            [
                "e3fbe92c.e90888"
            ]
        ]
    },
    {
        "id": "a6c59ef6.000a18",
        "type": "comment",
        "z": "964e7ab8.bedcf8",
        "name": "Error processing",
        "info": "",
        "x": 380,
        "y": 520,
        "wires": []
    },
    {
        "id": "1c8e10a9.83db67",
        "type": "comment",
        "z": "964e7ab8.bedcf8",
        "name": "Request processing",
        "info": "",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "c2af85e2.6f925",
        "type": "comment",
        "z": "964e7ab8.bedcf8",
        "name": "Response processing",
        "info": "",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "7d4c97cb.97b7d",
        "type": "change",
        "z": "964e7ab8.bedcf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rpcErrorCode",
                "pt": "msg",
                "to": "-32602",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "error.message",
                "pt": "msg",
                "to": "Invalid params",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 540,
        "wires": [
            [
                "efed0b20.90c228"
            ]
        ]
    },
    {
        "id": "11a1cec.846e2b1",
        "type": "change",
        "z": "964e7ab8.bedcf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rpcErrorCode",
                "pt": "msg",
                "to": "-32601",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "error.message",
                "pt": "msg",
                "to": "Method not found",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 620,
        "wires": [
            [
                "efed0b20.90c228"
            ]
        ]
    },
    {
        "id": "b7dbdd20.9a3d6",
        "type": "change",
        "z": "964e7ab8.bedcf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rpcErrorCode",
                "pt": "msg",
                "to": "-32700",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "error.message",
                "pt": "msg",
                "to": "Parse error",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "rpcId",
                "pt": "msg",
                "to": "-1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 580,
        "wires": [
            [
                "efed0b20.90c228"
            ]
        ]
    },
    {
        "id": "daf3f244.9c18a",
        "type": "change",
        "z": "964e7ab8.bedcf8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rpcErrorCode",
                "pt": "msg",
                "to": "-32600",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "error.message",
                "pt": "msg",
                "to": "Invalid Request",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "rpcId",
                "pt": "msg",
                "to": "-1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 660,
        "wires": [
            [
                "efed0b20.90c228"
            ]
        ]
    },
    {
        "id": "ea278eb5.126ff8",
        "type": "switch",
        "z": "964e7ab8.bedcf8",
        "name": "Error ?",
        "property": "error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "f3be30f.0eb205"
            ],
            [
                "b739b1b9.c64ea8"
            ]
        ]
    },
    {
        "id": "ed82fc42.67f76",
        "type": "comment",
        "z": "964e7ab8.bedcf8",
        "name": "populate methods and schemas",
        "info": "",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "3c330bba.be4c0c",
        "type": "change",
        "z": "964e7ab8.bedcf8",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "schema",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "ea278eb5.126ff8"
            ]
        ]
    },
    {
        "id": "e3fbe92c.e90888",
        "type": "change",
        "z": "964e7ab8.bedcf8",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "schema",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1790,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6fe6c9f1.b40da",
        "type": "change",
        "z": "964e7ab8.bedcf8",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "schema",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "1c86e76.1a55219",
        "type": "function",
        "z": "964e7ab8.bedcf8",
        "name": "params",
        "func": "const methods = flow.get('methods')\n\nmsg.rpcMethod = msg.payload.method\nmsg.schema = methods[msg.rpcMethod].request\n\nmsg.payload = msg.payload.params ? msg.payload.params : {}\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1480,
        "y": 200,
        "wires": [
            [
                "12753aa.e7e2fc5"
            ]
        ]
    },
    {
        "id": "71c27c0.096e784",
        "type": "template",
        "z": "5667d58e.654b1c",
        "name": "Methods",
        "field": "methods",
        "fieldType": "msg",
        "format": "yaml",
        "syntax": "mustache",
        "template": "getRandomAnimal:\n  request:\n    title: getRandomAnimal\n    type: object\n      \nadd:\n  request:\n    title: add\n    type: object\n    properties:\n      number1:\n        type: number\n        minimum: 0\n      number2:\n        type: number\n        minimum: 0\n    required:\n      - number1\n      - number2\n      \ntrigger: &trigger\n  request:\n    title: trigger\n    type: object\n    oneOf:\n      - properties:\n          list:\n            type: array\n            minItems: 1\n            items:\n              type: string\n              pattern: 0222[A-F0-9]{32}AA01\n          mode:\n            type: string\n            enum:\n              - GO\n        required:\n          - mode\n          - list\n      # For punch, allow empty array\n      - properties:\n          list:\n            type: array\n            items:\n              type: string\n              pattern: 0222[A-F0-9]{32}AA01\n          mode:\n            type: string\n            enum:\n              - GOU\n        required:\n          - mode\n          - list",
        "output": "yaml",
        "x": 320,
        "y": 60,
        "wires": [
            [
                "22af03c.bce1c7c"
            ]
        ]
    },
    {
        "id": "d1904e41.da3ba8",
        "type": "inject",
        "z": "5667d58e.654b1c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "71c27c0.096e784"
            ]
        ]
    },
    {
        "id": "22af03c.bce1c7c",
        "type": "json-rpc-processor",
        "z": "5667d58e.654b1c",
        "name": "",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "ae84657d.3c3998"
            ],
            [
                "6fb1fccb.71414c"
            ]
        ]
    },
    {
        "id": "80176f12.7c148",
        "type": "template",
        "z": "5667d58e.654b1c",
        "name": "Methods",
        "field": "methods",
        "fieldType": "msg",
        "format": "yaml",
        "syntax": "mustache",
        "template": "getRandomAnimal:\n  request:\n    title: getRandomAnimal\n    type: object\n      \nadd:\n  request:\n    tile: add\n    type: objecte\n    properties:\n      number1:\n        type: cat\n        minimum: 0\n      number2:\n        type: dog\n        minimum: 0\n    required:\n      - number1\n      - number2",
        "output": "yaml",
        "x": 320,
        "y": 100,
        "wires": [
            [
                "22af03c.bce1c7c"
            ]
        ]
    },
    {
        "id": "7f5245df.727f14",
        "type": "inject",
        "z": "5667d58e.654b1c",
        "name": "badMethods",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "80176f12.7c148"
            ]
        ]
    },
    {
        "id": "2ba5f652.4569b2",
        "type": "http in",
        "z": "5667d58e.654b1c",
        "name": "",
        "url": "/request",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "22af03c.bce1c7c"
            ]
        ]
    },
    {
        "id": "fb6d62ac.07b7b",
        "type": "http response",
        "z": "5667d58e.654b1c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1450,
        "y": 200,
        "wires": []
    },
    {
        "id": "c6539501.6f0f18",
        "type": "change",
        "z": "5667d58e.654b1c",
        "name": "getRandomAnimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$shuffle(['cat','dog','snake','ross'])[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 220,
        "wires": [
            [
                "7c086ca7.bc9484"
            ]
        ]
    },
    {
        "id": "ae84657d.3c3998",
        "type": "switch",
        "z": "5667d58e.654b1c",
        "name": "methods routing",
        "property": "rpcMethod",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "getRandomAnimal",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "add",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "trigger",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "c6539501.6f0f18"
            ],
            [
                "cd4d5834.a5ebe8"
            ],
            [
                "7c086ca7.bc9484"
            ]
        ]
    },
    {
        "id": "7c086ca7.bc9484",
        "type": "json-rpc-processor",
        "z": "5667d58e.654b1c",
        "name": "",
        "x": 1110,
        "y": 220,
        "wires": [
            [
                "b25343eb.51d258"
            ],
            [
                "b25343eb.51d258"
            ]
        ]
    },
    {
        "id": "b9c9b04.96e545",
        "type": "http response",
        "z": "5667d58e.654b1c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "cd4d5834.a5ebe8",
        "type": "function",
        "z": "5667d58e.654b1c",
        "name": "add",
        "func": "msg.payload = msg.payload.number1 + msg.payload.number2\nif (msg.payload > 10) {\n    node.error(`Add error, result can't be above 10`, msg)\n} else {\n    return msg\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "7c086ca7.bc9484"
            ]
        ]
    },
    {
        "id": "9fdb6235.6b4ba",
        "type": "catch",
        "z": "5667d58e.654b1c",
        "name": "",
        "scope": [
            "cd4d5834.a5ebe8"
        ],
        "uncaught": false,
        "x": 810,
        "y": 380,
        "wires": [
            [
                "7c086ca7.bc9484"
            ]
        ]
    },
    {
        "id": "af15b940.04c748",
        "type": "subflow:964e7ab8.bedcf8",
        "z": "3e4cdcff.50de8c",
        "name": "",
        "env": [],
        "x": 540,
        "y": 80,
        "wires": [
            [
                "7a6753c8.bf4e2c"
            ],
            [
                "a0d582fd.886378"
            ]
        ]
    },
    {
        "id": "3a6d8230.cd27c6",
        "type": "template",
        "z": "3e4cdcff.50de8c",
        "name": "Methods",
        "field": "methods",
        "fieldType": "msg",
        "format": "yaml",
        "syntax": "mustache",
        "template": "getRandomAnimal:\n  request:\n    title: getRandomAnimal\n    type: object\n      \nadd:\n  request:\n    title: add\n    type: object\n    properties:\n      number1:\n        type: number\n        minimum: 0\n      number2:\n        type: number\n        minimum: 0\n    required:\n      - number1\n      - number2\n      \ntrigger: &trigger\n  request:\n    title: trigger\n    type: object\n    oneOf:\n      - properties:\n          list:\n            type: array\n            minItems: 1\n            items:\n              type: string\n              pattern: 0222[A-F0-9]{32}AA01\n          mode:\n            type: string\n            enum:\n              - GO\n        required:\n          - mode\n          - list\n      # For punch, allow empty array\n      - properties:\n          list:\n            type: array\n            items:\n              type: string\n              pattern: 0222[A-F0-9]{32}AA01\n          mode:\n            type: string\n            enum:\n              - GOU\n        required:\n          - mode\n          - list",
        "output": "yaml",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "af15b940.04c748"
            ]
        ]
    },
    {
        "id": "93f4a7d7.484da8",
        "type": "inject",
        "z": "3e4cdcff.50de8c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "3a6d8230.cd27c6"
            ]
        ]
    },
    {
        "id": "324e9b49.dfb704",
        "type": "template",
        "z": "3e4cdcff.50de8c",
        "name": "Methods",
        "field": "methods",
        "fieldType": "msg",
        "format": "yaml",
        "syntax": "mustache",
        "template": "getRandomAnimal:\n  request:\n    title: getRandomAnimal\n    type: object\n      \nadd:\n  request:\n    tile: add\n    type: objecte\n    properties:\n      number1:\n        type: cat\n        minimum: 0\n      number2:\n        type: dog\n        minimum: 0\n    required:\n      - number1\n      - number2",
        "output": "yaml",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "af15b940.04c748"
            ]
        ]
    },
    {
        "id": "72379b6c.a34b44",
        "type": "inject",
        "z": "3e4cdcff.50de8c",
        "name": "badMethods",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "324e9b49.dfb704"
            ]
        ]
    },
    {
        "id": "7a6753c8.bf4e2c",
        "type": "switch",
        "z": "3e4cdcff.50de8c",
        "name": "",
        "property": "rpcMethod",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "getRandomAnimal",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "add",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "trigger",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 770,
        "y": 160,
        "wires": [
            [
                "dcfdd70.8772128"
            ],
            [
                "1d4ade37.62972a"
            ],
            [
                "77f936d6.0a246"
            ]
        ]
    },
    {
        "id": "dcfdd70.8772128",
        "type": "change",
        "z": "3e4cdcff.50de8c",
        "name": "getRandomAnimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$shuffle(['cat','dog','snake','ross'])[0]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 40,
        "wires": [
            [
                "77f936d6.0a246"
            ]
        ]
    },
    {
        "id": "77f936d6.0a246",
        "type": "subflow:964e7ab8.bedcf8",
        "z": "3e4cdcff.50de8c",
        "name": "",
        "env": [],
        "x": 1240,
        "y": 120,
        "wires": [
            [
                "d04425c8.a48b2"
            ],
            [
                "d04425c8.a48b2"
            ]
        ]
    },
    {
        "id": "3382916e.0aa0de",
        "type": "catch",
        "z": "3e4cdcff.50de8c",
        "name": "",
        "scope": [
            "1d4ade37.62972a"
        ],
        "uncaught": false,
        "x": 990,
        "y": 200,
        "wires": [
            [
                "77f936d6.0a246"
            ]
        ]
    },
    {
        "id": "1d4ade37.62972a",
        "type": "function",
        "z": "3e4cdcff.50de8c",
        "name": "add",
        "func": "msg.payload = msg.payload.number1 + msg.payload.number2\nif (msg.payload > 10) {\n    node.error(`Add error, result can't be above 10`, msg)\n} else {\n    return msg\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 990,
        "y": 160,
        "wires": [
            [
                "77f936d6.0a246"
            ]
        ]
    },
    {
        "id": "49681ef7.43656",
        "type": "http response",
        "z": "3e4cdcff.50de8c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "8eb67aa6.b99dd",
        "type": "http in",
        "z": "3e4cdcff.50de8c",
        "name": "",
        "url": "/oldrequest",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "af15b940.04c748"
            ]
        ]
    },
    {
        "id": "bf3e34bd.6b6b1",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "f224f0f0.26b3e8"
            ]
        ]
    },
    {
        "id": "f224f0f0.26b3e8",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "getRandomAnimal",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"getRandomAnimal\",\t   \"params\": {},\t   \"id\": _msgid\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "59aa73d.e0cb90c",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "add",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"add\",\t   \"params\": {\t        \"number1\" : 2,\t        \"number2\" : 2\t   },\t   \"id\": _msgid\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "8b881527.4acbf8",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "env",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "59aa73d.e0cb90c"
            ]
        ]
    },
    {
        "id": "e5dcd6c8.32279",
        "type": "comment",
        "z": "e9201577.141cd8",
        "name": "Good",
        "info": "",
        "x": 110,
        "y": 80,
        "wires": []
    },
    {
        "id": "ed439f68.5a4388",
        "type": "comment",
        "z": "e9201577.141cd8",
        "name": "Bad parameters",
        "info": "",
        "x": 140,
        "y": 220,
        "wires": []
    },
    {
        "id": "59a4c512.7a3e94",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "add",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"add\",\t   \"params\": {\t        \"number1\" : 3,\t        \"number2\" : \"Hello\"\t   },\t   \"id\": _msgid\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "4ebe8c74.38534c",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "env",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "59a4c512.7a3e94"
            ]
        ]
    },
    {
        "id": "236eed2a.dbd272",
        "type": "comment",
        "z": "e9201577.141cd8",
        "name": "Bad JSON RPC",
        "info": "",
        "x": 140,
        "y": 320,
        "wires": []
    },
    {
        "id": "d4105e22.63ed5",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "add",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\": \"2.\",\t   \"method\": \"add\",\t   \"params\": {\t        \"number1\" : 3,\t        \"number2\" : \"Hello\"\t   },\t   \"id\": _msgid\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "d4e3bd20.c75f18",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "env",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "d4105e22.63ed5"
            ]
        ]
    },
    {
        "id": "a12e6bbf.b80688",
        "type": "comment",
        "z": "e9201577.141cd8",
        "name": "Bad JSON",
        "info": "",
        "x": 120,
        "y": 420,
        "wires": []
    },
    {
        "id": "3c682e4c.79163a",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "add",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cs",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "aaafda3e.5dd0d8",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "env",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "3c682e4c.79163a"
            ]
        ]
    },
    {
        "id": "4f827af7.1633d4",
        "type": "comment",
        "z": "e9201577.141cd8",
        "name": "Unknown method",
        "info": "",
        "x": 150,
        "y": 520,
        "wires": []
    },
    {
        "id": "62f09be3.0c5e34",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "mult",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"mult\",\t   \"params\": {\t        \"number1\" : 3,\t        \"number2\" : \"Hello\"\t   },\t   \"id\": _msgid\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 560,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "d73422b.e179c6",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "env",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "62f09be3.0c5e34"
            ]
        ]
    },
    {
        "id": "e50800a9.542a38",
        "type": "http request",
        "z": "e9201577.141cd8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 710,
        "y": 120,
        "wires": [
            [
                "ce088891.e20ac8",
                "806e34b7.cf33c8",
                "10e43122.eca78f"
            ]
        ]
    },
    {
        "id": "ce088891.e20ac8",
        "type": "debug",
        "z": "e9201577.141cd8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "3f1ee765.7d9dd8",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "add",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"add\",\t   \"params\": {\t        \"number1\" : 3,\t        \"number2\" : 9\t   },\t   \"id\": _msgid\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 660,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "99ff7bf8.6be6f8",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "env",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 660,
        "wires": [
            [
                "3f1ee765.7d9dd8"
            ]
        ]
    },
    {
        "id": "1822c613.71a782",
        "type": "comment",
        "z": "e9201577.141cd8",
        "name": "add out of range",
        "info": "",
        "x": 140,
        "y": 620,
        "wires": []
    },
    {
        "id": "806e34b7.cf33c8",
        "type": "debug",
        "z": "e9201577.141cd8",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.result ? payload.result : payload.error.message",
        "targetType": "jsonata",
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "a48e8663.af5258",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "e264576b.6a7718",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "new",
        "topic": "",
        "payload": "http://localhost:1880/request",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1340,
        "wires": [
            [
                "a48e8663.af5258"
            ]
        ]
    },
    {
        "id": "324f1109.762ade",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "old",
        "topic": "",
        "payload": "http://localhost:1880/oldrequest",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1380,
        "wires": [
            [
                "a48e8663.af5258"
            ]
        ]
    },
    {
        "id": "7fe7a200.0503a8",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "url",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 120,
        "wires": [
            [
                "e50800a9.542a38"
            ]
        ]
    },
    {
        "id": "10e43122.eca78f",
        "type": "debug",
        "z": "e9201577.141cd8",
        "name": "delta",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "$millis() - timestamp",
        "targetType": "jsonata",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "6f9c6e3c.b2e92",
        "type": "comment",
        "z": "e9201577.141cd8",
        "name": "trigger",
        "info": "",
        "x": 110,
        "y": 720,
        "wires": []
    },
    {
        "id": "6aba9a2c.7d4ff4",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "trigger",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"trigger\",\t   \"params\": {\t        \"mode\" : \"GO\",\t        \"list\" : []\t   },\t   \"id\": _msgid\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 780,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "d8718ef4.20a26",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "env",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "6aba9a2c.7d4ff4"
            ]
        ]
    },
    {
        "id": "5a3259e2.3c1b78",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "trigger with IDs",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"trigger\",\t   \"params\": {\t        \"mode\" : \"GO\",\t        \"list\" : [\"02220000000000000000000002000A000000AA01\", \"02220000000000000000000002000A000000AA01\"]\t   },\t   \"id\": _msgid\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 840,
        "wires": [
            [
                "7fe7a200.0503a8"
            ]
        ]
    },
    {
        "id": "39a95c21.57133c",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "env",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 840,
        "wires": [
            [
                "5a3259e2.3c1b78"
            ]
        ]
    },
    {
        "id": "6a79ecf1.b05f7c",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "trigger with IDs",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[1..payload].{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"trigger\",\t   \"params\": {\t        \"mode\" : \"GO\",\t        \"list\" : [\"02220000000000000000000002000A000000AA01\", \"02220000000000000000000003000A000000AA01\"]\t   },\t   \"id\": \"1234\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 1020,
        "wires": [
            [
                "6e9b8f0b.bae2a8"
            ]
        ]
    },
    {
        "id": "9f5848f2.4b8868",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1020,
        "wires": [
            [
                "6a79ecf1.b05f7c"
            ]
        ]
    },
    {
        "id": "6e9b8f0b.bae2a8",
        "type": "split",
        "z": "e9201577.141cd8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 490,
        "y": 1020,
        "wires": [
            [
                "d14a0a34.c0a2e8"
            ]
        ]
    },
    {
        "id": "65570027.24696",
        "type": "join",
        "z": "e9201577.141cd8",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 1020,
        "wires": [
            [
                "f3dac6c.f029238",
                "1e4270af.fceb77"
            ]
        ]
    },
    {
        "id": "f3dac6c.f029238",
        "type": "debug",
        "z": "e9201577.141cd8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1010,
        "y": 1020,
        "wires": []
    },
    {
        "id": "1e4270af.fceb77",
        "type": "debug",
        "z": "e9201577.141cd8",
        "name": "delta",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "$millis() - timestamp",
        "targetType": "jsonata",
        "x": 990,
        "y": 1060,
        "wires": []
    },
    {
        "id": "49718b5f.56e544",
        "type": "link in",
        "z": "5667d58e.654b1c",
        "name": "InputNew",
        "links": [
            "a5b7ec8b.892d7"
        ],
        "x": 195,
        "y": 300,
        "wires": [
            [
                "22af03c.bce1c7c"
            ]
        ]
    },
    {
        "id": "a9bdfc0d.7d3f68",
        "type": "link out",
        "z": "5667d58e.654b1c",
        "name": "OutputNew",
        "links": [
            "2b882531.198642"
        ],
        "x": 1415,
        "y": 260,
        "wires": []
    },
    {
        "id": "9d723800.fddab8",
        "type": "link in",
        "z": "3e4cdcff.50de8c",
        "name": "InputOld",
        "links": [
            "d3e7d577.ba5a3"
        ],
        "x": 295,
        "y": 220,
        "wires": [
            [
                "af15b940.04c748"
            ]
        ]
    },
    {
        "id": "d0e80cdf.ebbb1",
        "type": "link out",
        "z": "3e4cdcff.50de8c",
        "name": "OutputOld",
        "links": [
            "31050ab6.5bc116"
        ],
        "x": 1515,
        "y": 160,
        "wires": []
    },
    {
        "id": "a5b7ec8b.892d7",
        "type": "link out",
        "z": "e9201577.141cd8",
        "name": "",
        "links": [
            "49718b5f.56e544"
        ],
        "x": 715,
        "y": 1000,
        "wires": []
    },
    {
        "id": "d14a0a34.c0a2e8",
        "type": "switch",
        "z": "e9201577.141cd8",
        "name": "",
        "property": "url",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "http://localhost:1880/request",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "http://localhost:1880/oldrequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 1020,
        "wires": [
            [
                "a5b7ec8b.892d7"
            ],
            [
                "d3e7d577.ba5a3"
            ]
        ]
    },
    {
        "id": "d3e7d577.ba5a3",
        "type": "link out",
        "z": "e9201577.141cd8",
        "name": "",
        "links": [
            "9d723800.fddab8"
        ],
        "x": 715,
        "y": 1040,
        "wires": []
    },
    {
        "id": "2b882531.198642",
        "type": "link in",
        "z": "e9201577.141cd8",
        "name": "",
        "links": [
            "a9bdfc0d.7d3f68",
            "71174d8e.ff3954",
            "c49e6bc2.8c0da"
        ],
        "x": 775,
        "y": 1000,
        "wires": [
            [
                "65570027.24696"
            ]
        ]
    },
    {
        "id": "31050ab6.5bc116",
        "type": "link in",
        "z": "e9201577.141cd8",
        "name": "",
        "links": [
            "d0e80cdf.ebbb1",
            "ed374827.e55298"
        ],
        "x": 775,
        "y": 1040,
        "wires": [
            [
                "65570027.24696"
            ]
        ]
    },
    {
        "id": "b25343eb.51d258",
        "type": "switch",
        "z": "5667d58e.654b1c",
        "name": "",
        "property": "res",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1330,
        "y": 220,
        "wires": [
            [
                "fb6d62ac.07b7b"
            ],
            [
                "a9bdfc0d.7d3f68"
            ]
        ]
    },
    {
        "id": "6fb1fccb.71414c",
        "type": "switch",
        "z": "5667d58e.654b1c",
        "name": "",
        "property": "res",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 440,
        "wires": [
            [
                "b9c9b04.96e545"
            ],
            [
                "71174d8e.ff3954"
            ]
        ]
    },
    {
        "id": "a0d582fd.886378",
        "type": "switch",
        "z": "3e4cdcff.50de8c",
        "name": "",
        "property": "res",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 280,
        "wires": [
            [
                "49681ef7.43656"
            ],
            [
                "ed374827.e55298"
            ]
        ]
    },
    {
        "id": "9fb21e64.82b73",
        "type": "comment",
        "z": "e9201577.141cd8",
        "name": "benchmark",
        "info": "",
        "x": 120,
        "y": 960,
        "wires": []
    },
    {
        "id": "20d5b0e0.cc7c5",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "200",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "6a79ecf1.b05f7c"
            ]
        ]
    },
    {
        "id": "1f06ae89.298d09",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "10000",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1100,
        "wires": [
            [
                "6a79ecf1.b05f7c"
            ]
        ]
    },
    {
        "id": "71174d8e.ff3954",
        "type": "link out",
        "z": "5667d58e.654b1c",
        "name": "OutputNew",
        "links": [
            "2b882531.198642"
        ],
        "x": 615,
        "y": 480,
        "wires": []
    },
    {
        "id": "fbd3669c.3816",
        "type": "http response",
        "z": "3e4cdcff.50de8c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1550,
        "y": 100,
        "wires": []
    },
    {
        "id": "d04425c8.a48b2",
        "type": "switch",
        "z": "3e4cdcff.50de8c",
        "name": "",
        "property": "res",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1430,
        "y": 120,
        "wires": [
            [
                "fbd3669c.3816"
            ],
            [
                "d0e80cdf.ebbb1"
            ]
        ]
    },
    {
        "id": "ed374827.e55298",
        "type": "link out",
        "z": "3e4cdcff.50de8c",
        "name": "OutputOld",
        "links": [
            "31050ab6.5bc116"
        ],
        "x": 615,
        "y": 320,
        "wires": []
    },
    {
        "id": "20fc7d60.a0194a",
        "type": "change",
        "z": "e9201577.141cd8",
        "name": "getRandomAnimal",
        "rules": [
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[1..payload].{\t   \"jsonrpc\": \"2.0\",\t   \"method\": \"getRandomAnimal\",\t   \"params\": {},\t   \"id\": \"1234\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1080,
        "wires": [
            [
                "6e9b8f0b.bae2a8"
            ]
        ]
    },
    {
        "id": "8a6837bb.cc7078",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1180,
        "wires": [
            [
                "20fc7d60.a0194a"
            ]
        ]
    },
    {
        "id": "2c72b58f.54e7f2",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "200",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "20fc7d60.a0194a"
            ]
        ]
    },
    {
        "id": "5c8d5db5.d1a17c",
        "type": "inject",
        "z": "e9201577.141cd8",
        "name": "",
        "topic": "",
        "payload": "10000",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1260,
        "wires": [
            [
                "20fc7d60.a0194a"
            ]
        ]
    }
]